.info {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 0;
  background: var(--colours-white);
  transition: 0.2s linear;
  box-sizing: border-box;
  border-left: 2px solid var(--colours-white-3);
}

.open {
  width: 20vw;
  min-width: 300px;
}

.header {
  display: block;
  flex-basis: 40%;
  border-bottom: 1px solid var(--colours-white-3);
}

.name {
  width: 100%;
  display: inline-block;
  font-size: 2rem;
  color: var(--colours-black-3);
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  border-top: 1px solid var(--colours-white-3);
}

.name:hover {
  color: var(--colours-black-5);
}

.close {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  color: var(--colours-grey);
  text-align: center;
  user-select: none;
  cursor: pointer;
}
