.lens {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  margin-top: 1.5rem;
}

.label {
  text-transform: lowercase;
  font-variant-caps: small-caps;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: var(--colours-grey-1);
  display: block;
  text-align: start;
  margin-left: 1.5rem;
  margin-bottom: 4px;
}

.text {
  margin-left: 2.5rem;
  color: var(--colours-black-4);
}
