.lens {
  composes: lens from "../style.css";

  flex-direction: column;
}

.label {
  composes: label from "../style.css";

  display: block;
  text-align: start;
  margin-left: 1.5rem;
  margin-bottom: 4px;
}

.text {
  composes: text from "../style.css";

  margin-left: 2.5rem;
  margin-right: 0.5rem;

  break-inside: initial;
}
