.lens {
  composes: lens from "../style.css";

  flex-direction: column;
  height: 50vh;
  column-span: all;
}

.label {
  composes: label from "../style.css";

  display: block;
  text-align: start;
  margin-left: 1.5rem;
  margin-bottom: 4px;
}

.svg {
  width: 100%;
  height: 100%;
}

.grid {
  shape-rendering: crispedges;
}

.value {
  composes: value from "../style";

  --font-size: 1rem;
}

.power {
  composes: unitsSuper from "../style";
}

.foreignObject {
  composes: value;

  transform: translate(calc(-2 * var(--font-size)), calc(-1 * var(--font-size-units)));
}


.axisLabel {
  composes: value;

  font-family: inherit;
  fill: var(--colours-grey-1);
}

.relativeWrapper {
  position: relative;
}

.ieTooltip {
  transform: translate(-50%, -50%);

  background-color: var(--group-colour)!important;
  color: var(--colours-white)!important;
}

.kjTooltip {
  background-color: var(--colours-white)!important;
  color: var(--colours-grey-5)!important;
}

.selectLine {
  shape-rendering: crispedges;
  stroke: var(--colours-grey-2);
  stroke-width: 2px;
  stroke-dasharray: 2, 2;
  pointer-events: 'none';
}

.selectDot {
  r: 4px;
  fill: var(--group-colour);
  stroke: var(--colours-white);
  stroke-width: 2px;
  pointer-events: none;
}
