.lens {
  composes: lens from "../style.css";

  flex-direction: column;
  height: 50vh;
  column-span: all;
}

.label {
  composes: label from "../style.css";

  display: block;
  text-align: start;
  margin-left: 1.5rem;
  margin-bottom: 4px;
}

.svg {
  width: 100%;
  height: 100%;
}

.grid {
  shape-rendering: crispedges;
}
