.element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: var(--table-height);
  transition-timing-function: cubic-bezier(0.32, 0.93, 0.69, 0.76);
  transition-duration: 0.2s;
  transition-property: color, background, opacity, transform;
  border-radius: 3px;
  color: transparent;
  background-image: var(--group-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  z-index: 1;
}

.element:hover:not(.selected) {
  box-shadow: 0 0 100px 7px var(--colours-blue-dark);
}

.element:hover:not(.invisible), .selected {
  color: var(--gradients-blue-dark-1);
  background-clip: initial;
}

.selected {
  box-shadow: 0 0 100px 15px var(--gradients-blue-dark);
  transform: scale(1.1);
  z-index: 10;
}

.atomicNumber {
  font-size: calc(var(--table-height) / 65);
  text-align: left;
  display: block;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.8;

  background-image: var(--group-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.selected .atomicNumber {
  opacity: 1;
}

.invisible {
  cursor: default;
  opacity: 0.2;
}

.symbol {
  font-size: calc(var(--table-height) / 31);
  width: 100%;
  display: block;
  text-align: center;
}

.atomicMass {
  display: block;
  width: 100%;
  font-size: calc(var(--table-height) / 80);
  text-align: center;
  position: absolute;
  bottom: 10%;
  opacity: 0.5;

  background-image: var(--group-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.selected .atomicMass {
  opacity: 1;
}

.alkaliMetal {--group-gradient: var(--gradients-alkaliMetal);}
.nonMetal {--group-gradient: var(--gradients-nonMetal);}
.transitionMetal {--group-gradient: var(--gradients-transitionMetal);}
.postTransitionMetal {--group-gradient: var(--gradients-postTransitionMetal);}
.halogen {--group-gradient: var(--gradients-halogen);}
.nobleGas {--group-gradient: var(--gradients-nobleGas);}
.metalloid {--group-gradient: var(--gradients-metalloid);}
.alkalineEarthMetal {--group-gradient: var(--gradients-alkalineEarthMetal);}
.actinoid {--group-gradient: var(--gradients-actinoid);}
.lanthanoid {--group-gradient: var(--gradients-lanthanoid);}
.unknown {--group-gradient: var(--gradients-unknown);}
