.element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: var(--table-height);
  transition-timing-function: cubic-bezier(0.32, 0.93, 0.69, 0.76);
  transition-duration: 0.2s;
  transition-property: color, background, opacity, transform, box-shadow;
  border-radius: 3px;
  color: var(--group-colour);
  cursor: pointer;
  z-index: 1;
}


.element:hover:not(.selected) {
  box-shadow: 0 0 100px 20px var(--colours-blue-dark);
  z-index: 8;
}

.element:hover:not(.invisible), .selected {
  color: var(--colours-blue-dark-1);
  background: var(--group-gradient);
}

.selected {
  transform: scale(1.1);
  box-shadow: 0 0 100px 26px var(--colours-blue-dark);
  z-index: 10;
}

.atomicNumber {
  font-size: calc(var(--table-height) / 65);
  text-align: left;
  display: block;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.8;
}

.selected .atomicNumber {
  opacity: 1;
}

.invisible {
  cursor: default;
  opacity: 0.2;
}

.symbol {
  font-size: calc(var(--table-height) / 31);
  width: 100%;
  display: block;
  text-align: center;
}

.atomicMass {
  display: block;
  width: 100%;
  font-size: calc(var(--table-height) / 80);
  text-align: center;
  position: absolute;
  bottom: 10%;
  opacity: 0.5;
}

.selected .atomicMass {
  opacity: 1;
}

.alkaliMetal {--group-colour: var(--colours-alkaliMetal); --group-gradient: var(--gradients-alkaliMetal);}
.nonMetal {--group-colour: var(--colours-nonMetal); --group-gradient: var(--gradients-nonMetal);}
.transitionMetal {--group-colour: var(--colours-transitionMetal); --group-gradient: var(--gradients-transitionMetal);}
.postTransitionMetal {--group-colour: var(--colours-postTransitionMetal); --group-gradient: var(--gradients-postTransitionMetal);}
.halogen {--group-colour: var(--colours-halogen); --group-gradient: var(--gradients-halogen);}
.nobleGas {--group-colour: var(--colours-nobleGas); --group-gradient: var(--gradients-nobleGas);}
.metalloid {--group-colour: var(--colours-metalloid); --group-gradient: var(--gradients-metalloid);}
.alkalineEarthMetal {--group-colour: var(--colours-alkalineEarthMetal); --group-gradient: var(--gradients-alkalineEarthMetal);}
.actinoid {--group-colour: var(--colours-actinoid); --group-gradient: var(--gradients-actinoid);}
.lanthanoid {--group-colour: var(--colours-lanthanoid); --group-gradient: var(--gradients-lanthanoid);}
.unknown {--group-colour: var(--colours-unknown); --group-gradient: var(--gradients-unknown);}
