.container {
  position: absolute;
  top: 2rem;
  display: inline-block;
  width: var(--table-width);
  text-align: center;
}

.searchBar {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  background: var(--colours-blue-dark);
  height: 1.75rem;
  width: 16rem;
  color: var(--colours-grey-5);
  line-height: 1.75rem;
  font-size: 1.25rem;
  padding-left: 0.5rem;
  font-family: var(--font-family);
  outline: none;
}

.searchBar:focus {
  color: var(--colours-white-3);
}

.swipeContainer {
  display: block;
  width: 100%;
  text-align: center;
}

.swipe {
  border-bottom: 2px solid var(--colours-blue-dark-2);
  width: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  top: -14px;
  transition: width 0.125s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.full {
  width: calc(16rem + 8px);
}
