.footer {
  position: absolute;
  bottom: 0.5rem;
  display: inline-block;
  width: var(--table-width);
  text-align: center;
  height: 0.75rem;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

.footer:hover {
  height: 1.5rem;
  animation: heartbeat 1.25s infinite;
  animation-delay: 0.25s;
}

.heart {
  fill: var(--colours-blue-dark-2);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.footer:hover .heart {
  fill: var(--colours-pink-red);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.75);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.75);
  }

  80% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}
