.periodicTable {
  --table-height: 80vmin;
  --table-width: calc(var(--table-height) * 1.4);
  --table-columns: 18;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: var(--table-width);
  height: var(--table-height);
  margin-left: auto;
  margin-right: auto;
  padding: 2vmin;
  user-select: none;
}
