.electronicConfiguration {
  color: var(--colours-black-4);
  font-size: 1.25rem;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 21px 0 0 transparent;
  height: 2px;
  display: inline-block;
  transition: box-shadow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  line-height: 1.25rem;
  position: relative;
  left: -1.25rem;
  width: 100%;
}

.full:hover > * {
  cursor: pointer;
  box-shadow: 0 2px 0 0 var(--group-colour);
}

.electronsSuperscript {
  vertical-align: super;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--colours-grey-4);
}

.elementAbbreviation {
  font-size: 1rem;
  background: var(--group-colour);
  border-radius: 3px;
  color: var(--colours-white);
  font-weight: bold;
  padding: 3px 3px 2px;
  width: fit-content;
  display: inline-block;
  vertical-align: text-bottom;
  cursor: pointer;
}

.alkaliMetal {--group-colour: var(--colours-alkaliMetal); --group-gradient: var(--gradients-alkaliMetal);}
.nonMetal {--group-colour: var(--colours-nonMetal); --group-gradient: var(--gradients-nonMetal);}
.transitionMetal {--group-colour: var(--colours-transitionMetal); --group-gradient: var(--gradients-transitionMetal);}
.postTransitionMetal {--group-colour: var(--colours-postTransitionMetal); --group-gradient: var(--gradients-postTransitionMetal);}
.halogen {--group-colour: var(--colours-halogen); --group-gradient: var(--gradients-halogen);}
.nobleGas {--group-colour: var(--colours-nobleGas); --group-gradient: var(--gradients-nobleGas);}
.metalloid {--group-colour: var(--colours-metalloid); --group-gradient: var(--gradients-metalloid);}
.alkalineEarthMetal {--group-colour: var(--colours-alkalineEarthMetal); --group-gradient: var(--gradients-alkalineEarthMetal);}
.actinoid {--group-colour: var(--colours-actinoid); --group-gradient: var(--gradients-actinoid);}
.lanthanoid {--group-colour: var(--colours-lanthanoid); --group-gradient: var(--gradients-lanthanoid);}
.unknown {--group-colour: var(--colours-unknown); --group-gradient: var(--gradients-unknown);}
