.electronicConfiguration {
  color: var(--colours-black-4);
  font-size: 1.25rem;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 21px 0 0 transparent;
  height: 2px;
  display: inline-block;
  transition: box-shadow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  line-height: 1.25rem;
  position: relative;
  left: -1.25rem;
  width: 100%;
}

.full:hover > * {
  cursor: pointer;
  box-shadow: 0 2px 0 0 var(--group-colour);
}

.electronsSuperscript {
  vertical-align: super;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--colours-grey-4);
}

.elementAbbreviation {
  font-size: 1rem;
  background: var(--group-colour);
  border-radius: 3px;
  color: var(--colours-white);
  font-weight: bold;
  padding: 3px 3px 2px;
  width: fit-content;
  display: inline-block;
  vertical-align: text-bottom;
  cursor: pointer;
}
