.electronicConfiguration {
  composes: value from "../../lenses/style";

  text-align: center;
  height: 2px;

  display: inline-block;
  transition: box-shadow 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  line-height: var(--font-size);

  position: relative;
  left: -1.25rem;
  width: 100%;
}

.full:hover > * {
  cursor: pointer;
  box-shadow: 0 2px 0 0 var(--group-colour);
}

.electronsSuperscript {
  composes: unitsSuper from "../../lenses/style";
}

.elementAbbreviation {
  composes: elementInline from "../../lenses/style";
}
