.nucleus {
  fill: var(--group-colour);
}

.nucleusText {
  font-size: 160px;
  font-family: var(--font-family);
  fill: var(--colours-white);
  text-anchor: middle;
  dominant-baseline: middle;
}

.shell {
  fill: none;
  stroke: var(--colours-white-3);
  stroke-width: 14px;
}

.alkaliMetal {--group-colour: var(--colours-alkaliMetal);}
.nonMetal {--group-colour: var(--colours-nonMetal);}
.transitionMetal {--group-colour: var(--colours-transitionMetal);}
.postTransitionMetal {--group-colour: var(--colours-postTransitionMetal);}
.halogen {--group-colour: var(--colours-halogen);}
.nobleGas {--group-colour: var(--colours-nobleGas);}
.metalloid {--group-colour: var(--colours-metalloid);}
.alkalineEarthMetal {--group-colour: var(--colours-alkalineEarthMetal);}
.actinoid {--group-colour: var(--colours-actinoid);}
.lanthanoid {--group-colour: var(--colours-lanthanoid);}
.unknown {--group-colour: var(--colours-unknown);}
