@import './fonts';

:root {
  --colours-red: #f55;
  --colours-yellow: #ffee62;
  --colours-orange: #ffc233;

  --colours-green: #5dedcb;

  --colours-aqua: #0df8f8;

  --colours-blue: #66d6ff;
  --colours-blue-dark: #1E2C36;
  --colours-blue-dark-1: #202f37;
  --colours-blue-dark-2: #2A3A45;

  --colours-pink: #ff3a8e;
  --colours-pink-red: #ff4775;

  --colours-purple: #c34ef8;
  --colours-purple-dark: #5454de;

  --colours-black: #1e1f1f;
  --colours-black-1: #333;
  --colours-black-2: #444;
  --colours-black-3: #525252;
  --colours-black-4: #5d5d5d;
  --colours-black-5: #676767;

  --colours-grey: #dadada;
  --colours-grey-1: #bbb;
  --colours-grey-2: #999;
  --colours-grey-3: #939393;
  --colours-grey-4: #8c8c8c;
  --colours-grey-5: #7b7b7b;

  --colours-white: #fff;
  --colours-white-1: #fbfbfb;
  --colours-white-2: #f9f9f9;
  --colours-white-3: #f2f2f2;
  --colours-white-4: #ececec;
  --colours-white-5: #e2e2e2;

  --colours-alkaliMetal: var(--colours-pink-red);
  --colours-nonMetal: var(--colours-blue);
  --colours-transitionMetal: var(--colours-green);
  --colours-postTransitionMetal: var(--colours-red);
  --colours-halogen: var(--colours-orange);
  --colours-nobleGas: var(--colours-yellow);
  --colours-metalloid: var(--colours-purple);
  --colours-alkalineEarthMetal: var(--colours-aqua);
  --colours-actinoid: var(--colours-purple-dark);
  --colours-lanthanoid: var(--colours-pink);
  --colours-unknown: var(--colours-blue-dark-2);


  --font-family: 'Museo Sans Rounded', 'PT Sans', 'Arial Rounded', sans-serif;
}
