@import './fonts';

:root {
  --colours-red: hsl(0, 100%, 66%);
  --colours-red-hint: hsl(355, 100%, 66%);

  --colours-yellow: hsl(53, 100%, 69%);
  --colours-yellow-hint: hsl(55, 100%, 67%);

  --colours-orange: hsl(42, 100%, 60%);
  --colours-orange-hint: hsl(44, 100%, 58%);

  --colours-green: hsl(140, 95%, 61%);
  --colours-green-hint: hsl(144, 95%, 61%);

  --colours-aqua: hsl(165, 80%, 64%);
  --colours-aqua-hint: hsl(162, 80%, 60%);

  --colours-blue: hsl(196, 100%, 70%);
  --colours-blue-hint: hsl(202, 100%, 65%);

  --colours-blue-dark: #1E2C36;
  --colours-blue-dark-1: #202f37;
  --colours-blue-dark-2: #2A3A45;

  --colours-pink: hsl(334, 100%, 61%);
  --colours-pink-hint: hsl(334, 100%, 61%);

  --colours-pink-red: hsl(345, 100%, 63%);
  --colours-pink-red-hint: hsl(345, 100%, 63%);

  --colours-purple: hsl(281, 93%, 64%);
  --colours-purple-hint: hsl(271, 91%, 57%);

  --colours-purple-dark: hsl(240, 67%, 60%);
  --colours-purple-dark-hint: hsl(240, 67%, 60%);

  --colours-black: #1e1f1f;
  --colours-black-1: #333;
  --colours-black-2: #444;
  --colours-black-3: #525252;
  --colours-black-4: #5d5d5d;
  --colours-black-5: #676767;

  --colours-grey: #dadada;
  --colours-grey-1: #bbb;
  --colours-grey-2: #999;
  --colours-grey-3: #939393;
  --colours-grey-4: #8c8c8c;
  --colours-grey-5: #7b7b7b;

  --colours-white: #fff;
  --colours-white-1: #fbfbfb;
  --colours-white-2: #f9f9f9;
  --colours-white-3: #f2f2f2;
  --colours-white-4: #ececec;
  --colours-white-5: #e2e2e2;

  --colours-alkaliMetal: var(--colours-pink-red);
  --colours-nonMetal: var(--colours-blue);
  --colours-transitionMetal: var(--colours-aqua);
  --colours-postTransitionMetal: var(--colours-red);
  --colours-halogen: var(--colours-orange);
  --colours-nobleGas: var(--colours-yellow);
  --colours-metalloid: var(--colours-purple);
  --colours-alkalineEarthMetal: var(--colours-green);
  --colours-actinoid: var(--colours-purple-dark);
  --colours-lanthanoid: var(--colours-pink);
  --colours-unknown: var(--colours-blue-dark-2);

  --gradient-angle: 0deg;
  --gradients-alkaliMetal: linear-gradient(var(--gradient-angle), var(--colours-pink-red), var(--colours-pink-red-hint));
  --gradients-nonMetal: linear-gradient(var(--gradient-angle), var(--colours-blue), var(--colours-blue-hint));
  --gradients-transitionMetal: linear-gradient(var(--gradient-angle), var(--colours-aqua), var(--colours-aqua-hint));
  --gradients-postTransitionMetal: linear-gradient(var(--gradient-angle), var(--colours-red), var(--colours-red-hint));
  --gradients-halogen: linear-gradient(var(--gradient-angle), var(--colours-orange), var(--colours-orange-hint));
  --gradients-nobleGas: linear-gradient(var(--gradient-angle), var(--colours-yellow), var(--colours-yellow-hint));
  --gradients-metalloid: linear-gradient(var(--gradient-angle), var(--colours-purple), var(--colours-purple-hint));
  --gradients-alkalineEarthMetal: linear-gradient(var(--gradient-angle), var(--colours-green), var(--colours-green-hint));
  --gradients-actinoid: linear-gradient(var(--gradient-angle), var(--colours-purple-dark), var(--colours-purple-dark-hint));
  --gradients-lanthanoid: linear-gradient(var(--gradient-angle), var(--colours-pink), var(--colours-pink-hint));
  --gradients-unknown: linear-gradient(var(--gradient-angle), var(--colours-blue-dark-2), var(--colours-blue-dark-2));


  --font-family: 'Museo Sans Rounded', 'PT Sans', 'Arial Rounded', sans-serif;
}
