.logo {
  user-select: none;
}

.lightBackground{
  --resting: var(--colours-blue-dark-2);
  --active: var(--colours-blue-dark-2);
}

.darkBackground{
  --resting: var(--colours-blue-dark-2);
  --active: var(--colours-white-1);
}

.dot, .cross {
  fill: var(--resting);
  transition: fill 0.25s cubic-bezier(0.47, 0, 0.75, 0.72);
  height: 50px;
  rx: 8;
}

.dot {
  transition-delay: 0.1s;
}

.logo:hover .cross {
  fill: var(--colours-pink-red);
}

.logo:hover .dot {
  fill: var(--active);
}
