.info {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background: var(--colours-white);
  box-sizing: border-box;
  z-index: 20;
  width: 0;
  min-width: 0;
}
.info > * {
  transition: opacity 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 0;
}

.open {
  width: 20vw;
  min-width: 300px;
  border-left: 2px solid var(--colours-white-3);
}
.open:not(.enter):not(.exit) > * {
  opacity: 1;
}

.enter {
  width: 0;
  min-width: 0;
}

.enterActive {
  transition: none 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-property: width, min-width;

  width: 20vw;
  min-width: 300px;
}

.exit {
  width: 20vw;
  min-width: 300px;
}
.exit > * {
  transition: opacity 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 0;
}

.exitActive {
  transition: none 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-property: width, min-width;

  width: 0;
  min-width: 0;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 40%;
  border-bottom: 1px solid var(--colours-white-3);
}

.name {
  width: 100%;
  display: inline-block;
  font-size: 2rem;
  color: var(--colours-black-3);
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  border-top: 1px solid var(--colours-white-3);
  transition: none 0.15s ease-in-out;
  transition-property: color, background, box-shadow;
}

.name:hover {
  background: var(--group-gradient);
  color: var(--colours-white);
  border-color: transparent;
  box-shadow: var(--group-gradient) -1px 0px 0 1px;
}

.close {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  color: var(--colours-grey);
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.alkaliMetal {--group-colour: var(--colours-alkaliMetal); --group-gradient: var(--gradients-alkaliMetal);}
.nonMetal {--group-colour: var(--colours-nonMetal); --group-gradient: var(--gradients-nonMetal);}
.transitionMetal {--group-colour: var(--colours-transitionMetal); --group-gradient: var(--gradients-transitionMetal);}
.postTransitionMetal {--group-colour: var(--colours-postTransitionMetal); --group-gradient: var(--gradients-postTransitionMetal);}
.halogen {--group-colour: var(--colours-halogen); --group-gradient: var(--gradients-halogen);}
.nobleGas {--group-colour: var(--colours-nobleGas); --group-gradient: var(--gradients-nobleGas);}
.metalloid {--group-colour: var(--colours-metalloid); --group-gradient: var(--gradients-metalloid);}
.alkalineEarthMetal {--group-colour: var(--colours-alkalineEarthMetal); --group-gradient: var(--gradients-alkalineEarthMetal);}
.actinoid {--group-colour: var(--colours-actinoid); --group-gradient: var(--gradients-actinoid);}
.lanthanoid {--group-colour: var(--colours-lanthanoid); --group-gradient: var(--gradients-lanthanoid);}
.unknown {--group-colour: var(--colours-unknown); --group-gradient: var(--gradients-unknown);}

@media only screen
  and (max-device-width: 736px)
  and (orientation: portrait) {
  .open {
    width: 100vw;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .close {
    font-size: 6rem;
    top: 3rem;
    left: 3rem;
  }

  .name {
    font-size: 5rem;
    padding: 1rem;
  }
}
