.about {
  position: absolute;
  width: 70vmin;
  height: 50vmin;
  z-index: 100;
  top: calc((100vh - 50vmin) / 2);
  left: calc((100vw - 70vmin) / 2);
  border-radius: 5px;
  background: var(--colours-white);
  box-shadow: 0 0 200px 52px var(--colours-blue-dark);
  opacity: 0;
  display: none;
}

.open {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  --size: 9rem;

  height: var(--size);
  margin: calc(var(--size) / 3) 0;
}

.build {
  font-size: 0.6rem;
  color: var(--colours-white-4);
  position: absolute;
  bottom: 0.6rem;
}

.build:hover {
  color: var(--colours-grey-5);
}
