.lens {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  break-inside: avoid;
  height: 30vh;
}

.electronicConfiguration {
  color: var(--colours-black-4);
  font-size: 1.25rem;
  text-align: center;
}

.electronsSuperscript {
  vertical-align: super;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--colours-grey-4);
}

.elementAbbreviation {
  font-size: 1rem;
  background: var(--colours-blue);
  border-radius: 3px;
  color: var(--colours-white);
  font-weight: bold;
  padding: 3px 3px 2px;
  width: fit-content;
  display: inline-block;
  vertical-align: text-bottom;
}
