.entry {
  display: block;
  width: 100%;
  height: 3.5rem;
  background: var(--colours-white);
  color: var(--colours-grey-5);
  overflow: hidden;
}

.entry:nth-child(2n) {
  background: var(--colours-white-2);
}

.entry:last-child:not(:nth-child(2n)) {
  border-bottom: 1px solid var(--colours-white-3);
}

.title {
  display: flex;
  float: left;
  color: var(--colours-grey-2);
  width: 40%;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  user-select: none;
  cursor: default;
}

.changeable {
  cursor: pointer;
}

.changeable:hover {
  color: var(--colours-grey-4);
}

.content {
  display: flex;
  float: right;
  color: var(--colours-grey-5);
  width: 60%;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
