.entry {
  --height: 2rem;

  display: flex;
  width: 100%;
  min-height: var(--height);
  background: var(--colours-white);
  color: var(--colours-grey-5);
  overflow: hidden;
  align-items: center;
}

.entry:nth-child(2n) {
  background: var(--colours-white-2);
}

.entry:last-child:not(:nth-child(2n)) {
  border-bottom: 1px solid var(--colours-white-3);
}

.title {
  display: flex;
  float: left;
  color: var(--colours-grey-2);
  width: 50%;
  justify-content: center;
  flex-direction: column;
  height: var(--height);
  user-select: none;
  cursor: default;
  margin-left: 1.5rem;
}

.title.changeable {
  cursor: pointer;
}

.title.changeable:hover {
  color: var(--colours-grey-4);
}

.content {
  display: flex;
  float: right;
  color: var(--colours-grey-5);
  width: 50%;
  justify-content: center;
  flex-direction: column;
  min-height: var(--height);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.3;
}

.unit {
  font-size: 0.8rem;
  background: var(--colours-blue);
  border-radius: 3px;
  color: var(--colours-white);
  font-weight: bold;
  padding: 3px 3px 2px;
  width: fit-content;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 2.5px;
  user-select: none;
}

.unit.changeable {
  cursor: pointer;
  background: var(--colours-orange);
}

@media only screen
  and (max-device-width: 736px)
  and (orientation: portrait) {
  .entry {
    --height: 6rem;
    font-size: 2rem;
  }

  .unit {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 3px 5px 3px;
  }
}
