.entry {
  --height: 3.5rem;

  display: flex;
  width: 100%;
  min-height: var(--height);
  background: var(--colours-white);
  color: var(--colours-grey-5);
  overflow: hidden;
  align-items: center;
}

.entry:nth-child(2n) {
  background: var(--colours-white-2);
}

.entry:last-child:not(:nth-child(2n)) {
  border-bottom: 1px solid var(--colours-white-3);
}

.title {
  display: flex;
  float: left;
  color: var(--colours-grey-2);
  width: 40%;
  justify-content: center;
  flex-direction: column;
  height: var(--height);
  text-align: center;
  user-select: none;
  cursor: default;
}

.changeable {
  cursor: pointer;
}

.changeable:hover {
  color: var(--colours-grey-4);
}

.content {
  display: flex;
  float: right;
  color: var(--colours-grey-5);
  width: 60%;
  justify-content: center;
  flex-direction: column;
  min-height: var(--height);
  text-align: center;
}

@media only screen
  and (max-device-width: 736px)
  and (orientation: portrait) {
  .entry {
    --height: 6rem;
    font-size: 2rem;
  }
}
