.element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: var(--size);
  transition: 0.2s linear;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: var(--colours-blue-dark-1);
  border-radius: 3px;
  color: var(--group-colour);
  cursor: pointer;
}

.element:hover {
  color: var(--colours-blue-dark-1);
  background: var(--group-colour);
}

.atomicNumber {
  font-size: calc(var(--size) / 65);
  text-align: left;
  display: block;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.8;
}

.element:hover .atomicNumber {
  opacity: 1;
}

.symbol {
  font-size: calc(var(--size) / 31);
  width: 100%;
  display: block;
  text-align: center;
}

.atomicMass {
  display: block;
  width: 100%;
  font-size: calc(var(--size) / 80);
  text-align: center;
  position: absolute;
  bottom: 10%;
  opacity: 0.5;
}

.element:hover .atomicMass {
  opacity: 1;
}

.alkaliMetal {--group-colour: var(--colours-pink-red);}
.nonMetal {--group-colour: var(--colours-blue);}
.transitionMetal {--group-colour: var(--colours-green);}
.postTransitionMetal {--group-colour: var(--colours-red);}
.halogen {--group-colour: var(--colours-orange);}
.nobleGas {--group-colour: var(--colours-yellow);}
.metalloid {--group-colour: var(--colours-purple);}
.alkalineEarthMetal {--group-colour: var(--colours-aqua);}
.actinoid {--group-colour: var(--colours-purple-dark);}
.lanthanoid {--group-colour: var(--colours-pink);}
.unknown {--group-colour: var(--colours-blue-dark-2);}
