.element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: var(--size);
  transition: 0.2s linear;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: var(--colours-blue-dark-1);
  border-radius: 3px;
  color: var(--group-colour);
  cursor: pointer;
  z-index: 1;
}

.element:hover:not(.selected) {
  box-shadow: 0 0 100px 7px var(--colours-blue-dark);
}

.element:hover, .selected {
  color: var(--colours-blue-dark-1);
  background: var(--group-colour);
}

.selected {
  box-shadow: 0 0 100px 15px var(--colours-blue-dark);
  transform: scale(1.1);
  z-index: 10;
}

.atomicNumber {
  font-size: calc(var(--size) / 65);
  text-align: left;
  display: block;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.8;
}

.selected .atomicNumber {
  opacity: 1;
}

.symbol {
  font-size: calc(var(--size) / 31);
  width: 100%;
  display: block;
  text-align: center;
}

.atomicMass {
  display: block;
  width: 100%;
  font-size: calc(var(--size) / 80);
  text-align: center;
  position: absolute;
  bottom: 10%;
  opacity: 0.5;
}

.selected .atomicMass {
  opacity: 1;
}

.alkaliMetal {--group-colour: var(--colours-alkaliMetal);}
.nonMetal {--group-colour: var(--colours-nonMetal);}
.transitionMetal {--group-colour: var(--colours-transitionMetal);}
.postTransitionMetal {--group-colour: var(--colours-postTransitionMetal);}
.halogen {--group-colour: var(--colours-halogen);}
.nobleGas {--group-colour: var(--colours-nobleGas);}
.metalloid {--group-colour: var(--colours-metalloid);}
.alkalineEarthMetal {--group-colour: var(--colours-alkalineEarthMetal);}
.actinoid {--group-colour: var(--colours-actinoid);}
.lanthanoid {--group-colour: var(--colours-lanthanoid);}
.unknown {--group-colour: var(--colours-unknown);}
