.lens {
  composes: lens from "../style.css";
}

.label {
  composes: label from "../style.css";
}

.property {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  text-align: center;
}

.property:only-child {
  width: 100%;
  text-align: start;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.figure {
  composes: value from "../style";

  --height: 3rem;

  text-align: center;
  height: var(--height);
  line-height: var(--height);
}

.figure.hasUnitsSuper {
  line-height: calc(var(--height) - (var(--font-size-units) / 2));
}

.property:not(:last-of-type) > .figure {
  border-right: solid 1px var(--colours-white-3);
}

.property:only-child .figure {
  text-align: start;
  margin-left: 1.5rem;
}


.unitsSuper {
  composes: unitsSuper from "../style";
}

.unitsInline {
  composes: unitsInline from "../style";
}
