.nucleus {
  fill: var(--group-colour);
}

.nucleusText {
  font-size: 160px;
  font-family: var(--font-family);
  fill: var(--colours-white);
  text-anchor: middle;
  dominant-baseline: central;
  user-select: none;
  cursor: default;
}
